/* Write your code here. */
.card {
  background-color: #9796f0;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 120px;
  margin-top: 10px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .card {
    height: 150px;
    width: 150px;
    border-radius: 20px;
  }
}

.emoji {
  height: 60px;
  width: 60px;
}
